<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="D:/Software Testing/ITI/Automation web/Automation-eCommerceWeb-Project">
        <classes>
            <class name="com.nopcommerce.demo.testcases.SignUpTest">
                <methods>
                    <include name="TC_signup_01"/>
                </methods>
            </class>

            <class name="com.nopcommerce.demo.testcases.LoginTest">
                <methods>
                  <include name="TC_login_01"/>
                </methods>
            </class>

            <class name="com.nopcommerce.demo.testcases.AddToCartTest">
                <methods>
                    <include name="TC_addToCart_01"/>
                    <include name="TC_addToCart_02"/>
                    <include name="TC_addToCart_03"/>
                    <include name="TC_addToCart_04"/>
                    <include name="TC_addToCart_05"/>
                    <include name="TC_addToCart_06"/>
                    <include name="TC_addToCart_07"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>